.emoji {
    margin: 4px;
    padding: 0;
    font-size: 24px;
    cursor: pointer;
    display: inline-block;
    /* font-family: "Noto Emoji", "Material Icons"; */
    /* font-family: "font-variant-emoji", "Noto Color Emoji", "Symbola"; */
  
    box-shadow: 0 0 3px silver, 0 0 1px silver inset;
    border-radius: 5px;
    transition: box-shadow 0.5s, background 0.5s;
  }
  
  .emoji:hover,
  .emoji:active {
    box-shadow: 0 0 1px silver, 0 0 1px silver inset;
    transition: box-shadow 0.5s, background 0.5s;
  }
  
  .emoji:active {
    box-shadow: 0px 0px 18px blue, 0 0 8px blue inset;
  }
  